{% extends 'base.html' %}

{% load static %}

{% block title %} Giới thiệu {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
{% endblock styles %}
    
{% block content %}

<!-- Gallery Section -->
<section class="gallery" id="gallery" style="margin-top: 50px;">

    <h1 style="font-size: 35px;text-align: center;margin: 20px 0;color: #ffa500;">Giới thiệu</h1>
    <div class="about-p">

        <h3 style="font-size: 25px;">Khám phá biển đảo Nha Trang</h3>
        <p>
            KHÁNH HÒA - Với hệ sinh thái đa dạng và cảnh sắc tuyệt đẹp, đảo Hòn Miễu, Hòn Chồng, Hòn Mun mê hoặc du khách.
        </p>
        <p>
            Thiên nhiên ưu ái ban tặng cho Nha Trang những bãi biển, vùng vịnh đẹp cùng nhiều đảo lớn nhỏ với hệ sinh thái đa dạng. Du khách sẽ tận mắt ngắm nhìn những rạn san hô, đắm mình vào không gian yên bình của người dân làng chài và trải nghiệm những hoạt động du lịch hấp dẫn khi đặt chân lên đảo.
        </p>
        <p>
            <b>Hòn Miễu</b> được xem là hòn đảo đẹp nhất vùng vịnh, nằm gần đất liền với bãi Tranh trải dài 500 m. Một bên là cát trắng, một bên là bãi cạn nhiều sỏi nhỏ, nước biển ở đây trong xanh quanh năm, dốc thoải rất thích hợp để bơi lội. Bãi Tranh là tụ điểm của hàng loạt môn thể thao trên biển như mô tô nước, dù lượn, lướt sóng, phao chuối, flyboard... Đến đây khách du lịch có thể ghé thăm làng chài Hòn Miễu, đắm mình vào không gian yên bình và thưởng thức hải sản tươi do ngư dân đánh bắt.
        </p>

        <img src="https://i1-dulich.vnecdn.net/2022/08/03/DaoTriNguyen-XuanNgoc-1-161657-1435-2685-1659520528.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=390M-P_OPSQT66uGyi7CTg" alt="Hòn miễu">

        <p>
            Từ trung tâm thành phố Nha Trang du khách di chuyển ra cảng Vĩnh Trường. Sau đó mất khoảng 15 phút di chuyển bằng tàu và 5 phút nếu chọn di chuyển bằng cano ra Hòn Miễu.
        </p>
        <p>Cách đất liền khoảng 7 km, đảo <b>Hòn Tằm</b> nằm ở phía đông nam thành phố. Nơi đây sở hữu vẻ đẹp nguyên sơ với thảm rừng xanh, bãi cát dài và sóng êm. Hòn Tằm là địa điểm yêu thích của những du khách muốn tìm nơi nghỉ dưỡng. Thời gian đẹp nhất để khám phá đảo là từ tháng 7 đến tháng 9. Tại đây cũng có những trò chơi mạo hiểm như mô tô nước, dù kéo, flyboard, chèo kayak... Giá tour tắm biển và chơi thể thao tại đây dao động từ 450.000 đến 600.000 đồng.</p>

        <p>
            Một điểm đến không thể bỏ qua khi ghé Nha Trang là <b>Hòn Chồng</b> nằm trên đường Phạm Văn Đồng, cách trung tâm thành phố khoảng 3 km về hướng Đông Bắc. Sở dĩ có tên Hòn Chồng là vì nơi đây sở hữu quần thể khối đá lớn với đủ loại hình thù xếp chồng lên nhau chạy từ bờ cao xuống biển.
        </p>

        <img src="https://i1-dulich.vnecdn.net/2022/08/03/HonchonNhaTrang-KhoaTran-1-161-7799-2668-1659520528.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=SmXpihT09fhnY4BFOpIXSA" alt="Hòn Chồng">

        <p>Dọc theo con đường Trần Phú, qua cầu vượt Phạm Văn Đồng, nhìn về bên phải du khách sẽ thấy một con đường dẫn xuống Hòn Chồng. Cách Hòn Chồng không xa, có một mỏm đá nhỏ hơn nằm ở chân đồi phía đông là Hòn Vợ.</p>
        <p>
            Để lặn ngắm san hô, du khách có thể chọn Hòn Mun, cách cảng Cầu Đá 12km. Với sự giao thoa của hai dòng hải lưu nóng, đảo có khoảng 2000 loài san hô cùng hơn 1500 loài sinh vật biển nhiệt đới. Du khách sẽ được chạm tay vào đàn cá bơi tung tăng quanh những rạn san hô khi tham gia tour lặn biển ở độ sâu 6 - 8m với giá khoảng 600.000 đồng.
        </p>
        <p>
            <b>Đảo Khỉ - Hòn Lao</b> là điểm tham quan đặc biệt. Đảo có khoảng 1500 con khỉ sinh sống trong rừng. Du khách có thể bắt gặp chúng ở bất cứ đâu khi đi dạo trên đảo. Khỉ trên đảo đều thân thiện với con người, du khách cần lưu ý vì chúng thường lại gần lấy cắp đồ ăn. Trên đảo có khu vực biểu diễn xiếc với các khung giờ 9h30, 10h30 và 15h15. Giá vé lên đảo là 144.000 dành cho người lớn và 72.000 đồng với trẻ em.
        </p>
        <p>Những ngôi nhà phủ rêu xanh, thuyền bè nhấp nhô trên biển là nét đặc trưng thu hút du khách của Hòn Một. Đến đây, du khách sẽ đắm mình trong không gian yên bình của làng chài, quan sát nhịp sống của ngư dân. Trên đảo cũng có nhiều hoạt động khác như lặn nông ngắm san hô, trò chơi mô tô nước, thúng đáy kính, cano dù kéo...</p>
        <p>
            <b>Đảo Yến - Hòn Nội</b> là cụm đảo nằm trong vịnh Nha Trang, cách cảng Cầu Đá khoảng 25km. Đảo nổi tiếng với vẻ đẹp hoang sơ, yên bình. Bãi cát trắng mịn, hai bên là nước biển xanh trong tạo nên một bãi tắm đôi độc đáo. Tại đây, du khách cũng có thể ngắm nhìn toàn bộ cản biển từ đỉnh núi Du Hạ từ độ cao 200 bậc thang.
        </p>
        <img src="https://i1-dulich.vnecdn.net/2022/08/03/DaoYenHonNoi-XuanNgoc-1-161651-5661-9933-1659520528.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=FmtmZTrjNCveqNqCEJv3UA" alt="Đảo yến">

        <p>
            Ngoài ra, tháng 8 này khi đến Nha Trang, không chỉ được trải nghiệm các hoạt động văn hóa, du lịch, du khách có cơ hội hòa mình vào sự kiện thể thao sôi động - giải chạy VnExpress Marathom Marvelous Nha Trang 2022 diễn ra ngày 28/8. Giải do báo điện tử VnExpress phối hợp với UBND tỉnh Khánh Hòa tổ chức, quy tụ hàng nghìn chân chạy chuyên và không chuyên trên cả nước, thi đấu ở 4 cự ly là 5 km, 10 km, 21 km và 42 km. Độc giả quan tâm có thể theo dõi tại đây.
        </p>
    </div>

    
</section>
<!-- Gallery Section End -->

{% include 'footer.html' %}

{% endblock content %}





