{% extends 'base.html' %}

{% load static %}
{% block title %} Tour du lịch {% endblock title %}

{% block content %}
    <section class="packages" id="packages" style="margin-top: 50px;">

        <h1 style="font-size: 35px;text-align: center;margin: 20px 0;color: #ffa500;">Tour du lịch</h1>

        <div class="box-container">

            <div class="box">
                <img src="https://cf.bstatic.com/xdata/images/hotel/square600/283065114.webp?k=d63a7cf7ca672b71d9a4d4f44f563a480fbd230e0abe07ae672c998c5f58399e&o=" alt="picture 1">
                <div class="content">
                    <h3><i class="fas fa-map-marker-alt"></i> Aplus Hotel</h3>
                    <p>
                        Tọa lạc tại thành phố Nha Trang, cách Trung tâm Thuyền buồm Việt Nam 200 m, Apus Hotel cung cấp chỗ ở thoải mái và có hồ bơi ngoài trời cũng như nhà hàng.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a href="booking.html" class="btn">Đặt lịch ngay</a>
                </div>
            </div>
            <div class="box">
                <img src="https://cf.bstatic.com/xdata/images/hotel/square600/435764448.webp?k=a681c6aba133f44ce484287d944744cb81e958df6246f0adb4a4e6e7d4f40aaa&o=" alt="picture 1">
                <div class="content">
                    <h3><i class="fas fa-map-marker-alt"></i> Lucky Sun Hotel</h3>
                    <p>
                        Nằm ở Nha Trang, cách Bãi biển Nha Trang 13 phút đi bộ, Lucky Sun Hotel cung cấp chỗ nghỉ có trung tâm thể dục, chỗ đậu xe riêng miễn phí, phòng chờ chung và sân hiên.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a href="booking.html" class="btn">Đặt lịch ngay</a>
                </div>
            </div>
            <div class="box">
                <img src="https://cf.bstatic.com/xdata/images/hotel/square600/362950665.webp?k=6e9d4ce24e6b8a07b54fa5b87767bf64d20b8af48c56ecae1d59d7f063144e9d&o=" alt="picture 1">
                <div class="content">
                    <h3><i class="fas fa-map-marker-alt"></i> La Sera Hotel</h3>
                    <p>
                        Nằm trong bán kính 30 m từ Bãi biển Nha Trang, khách sạn La Sera Hotel ở thành phố Nha Trang này có tầm nhìn ra toàn cảnh từ quán sky pool bar.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a href="booking.html" class="btn">Đặt lịch ngay</a>
                </div>
            </div>
            <div class="box">
                <img src="https://cf.bstatic.com/xdata/images/hotel/square600/405269065.webp?k=beb89e2ed8236a9f8606e8d6bffe439ddfaf4f7b0a7e72e83d1b286fdd624c94&o=" alt="picture 1">
                <div class="content">
                    <h3><i class="fas fa-map-marker-alt"></i> Azura Gold Hotel & Apartment</h3>
                    <p>
                        Nằm cách Bãi biển Nha Trang chưa đầy 100 m, Azura Gold Hotel & Apartment cung cấp phòng nghỉ nhìn ra biển. Chỗ nghỉ này có bàn đặt tour, lễ tân 24 giờ và WiFi miễn phí.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a href="booking.html" class="btn">Đặt lịch ngay</a>
                </div>
            </div>

            

            
    
            

        </div>

    </section>
    {% include 'footer.html' %}
    

{% endblock content %}

