<!-- Footer Section -->
<section class="footer" id="footer">
    <div class="box-container">

        <div class="box">
            <h3>Về chúng tôi</h3>
            <p style="text-align: justify;">
                Chúng tôi là đội ngũ chuyên gia địa phương đam mê và am hiểu sâu sắc về văn hóa, lịch sử và địa lý của Nha Trang. Với sứ mệnh tạo ra trải nghiệm du lịch không thể quên cho du khách, chúng tôi tự hào giới thiệu những điểm đến tuyệt vời, những hoạt động thú vị và những món ăn ngon đặc trưng của vùng biển xinh đẹp này.
            </p>
        </div>

        <div class="box">
            <h3>Mạng xã hội</h3>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Youtube</a>
            <a href="#">X</a>
            
        </div>

        <div class="box">
            <h3>Liên kết nhanh</h3>
            <a href="#">trang chủ</a>
            <a href="#">giới thiệu</a>
            <a href="#">điểm đến</a>
            <a href="#">hoạt động</a>
            <a href="#">khách sạn</a>
            <a href="#">nhà hàng</a>
            <a href="#">liên hệ</a>
        </div>

        <div class="box">
            <h3>Mạng xạ hội</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedIn</a>
        </div>

    </div>

    <h1 class="credit">copyright &copy; <span>2024</span></h1>
</section>
<!-- Footer Section End -->